@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

html, body {
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.progress-container {
    display: none;
    z-index: 5;
    color: #fff;
    width: 50%;
    max-width: 400px;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

.pop-in {
    animation-name: fadeIn;
}

.pop-out {
    animation-name: fadeOut;
    animation-fill-mode: forwards;
}

.progress-labels {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

#progress-label {
    font-size: 1.5vh;
    color: #ffffff;
    font-weight: bold;
}

.progress-bar-container {
    background: rgba(255, 255, 255, 0.2);
    height: 2vh; 
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#progress-bar {
    background: linear-gradient(90deg, #8a65fc, #6200ff);
    width: 0%;
    height: 100%;
    border-radius: 10px;
    transition: width 0.3s ease-out, box-shadow 0.3s ease-out;
    box-shadow: 0 0 15px rgba(158, 84, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    overflow: hidden;
    position: relative; 
}

#progress-percentage {
    font-size: 1.2vh; 
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    right: 5px; 
    top: 50%;
    transform: translateY(-50%);
}



#progress-bar {
    overflow: hidden;
}

#progress-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #8a65fc, #6200ff);
    transform-origin: left;
    animation: fillShape 2s forwards;
}

@keyframes fillShape {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
